<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About</title>
    {% load static %}
    <link rel="icon" href="{% static 'IMAGES/aaaaa.png' %}">


    <style>
        
        
        
        table,th,td{
           border: 2px solid white ;
            border-collapse: initial;
            
        }
        table{
            width: 700px;
            height: 400px;
            margin-left: 30px;
            margin-top:30px ;
            
        }
        table
        {background-color: #c6e090
        }
        
        
    </style>
<body>

<h2>ABOUT PAGE</h2>
<br><br>
<table>
<tr bgcolor="#6b8e23">
    
  <th>product ID</th>
  <th>product name</th>
<th> product quality</th>
<th> product quantity</th>
  </tr>

<tr>
  <td>1</td>
<td>wheat</td>
  <td>Good</td>
  <td>200 bags</td>
  </tr>

<tr>
  <td>2</td>
<td>Rise</td>
  <td>Good</td>
  <td>250 bags</td>
  </tr>
    
<tr>
  <td>3</td>
<td>sugar</td>
  <td>Good</td>
  <td>200 bags</td>
  </tr>
<tr>
  <td>3</td>
<td>sugar</td>
  <td>Good</td>
  <td>200 bags</td>
  </tr>

<tr>6B8E23FF
  <td>3</td>
<td>sugar</td>
  <td>Good</td>
  <td>200 bags</td>
  </tr>
<tr>
  <td>3</td>
<td>sugar</td>
  <td>Good</td>
  <td>200 bags</td>
  </tr>

</table>




</body>
</html>