<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>contacts</title>
    {% load  static %}
</head>
<body>
<p>You can get to contact us for any enquiry via the secretary's phone number:+254 7 0998 3452</p>
<p>If you feel  un sartisfied you can reach us on our social media platform:</p>


<img src="{% static 'products/insta.jpeg' %}" alt="">
<img src="{% static 'products/twitter.png' %}" alt="">
<img src="{% static 'products/face.png' %}" alt="">

</body>
</html>