<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>warehouse</title>
    {% load static %}
</head>
<body>

<h1 style="text-align: center">Our warehouse</h1>
<p>Mostly we store our products in a couple of places nationwide </p>
<p>The advantage of purchasing our product from a warehouse is that you get to experience an offer</p>
<p>you also get to test if the product is working properly and at your own convenience</p>
<h3>We are located around these areas:</h3>

<img src="{% static 'warehouse/1.jpeg' %}" alt="">
<img src="{% static 'warehouse/3.jpeg' %}" alt="">
<img src="{% static 'warehouse/4.jpeg' %}" alt="">
<img src="{% static 'warehouse/5.jpeg' %}" alt="">
<img src="{% static 'warehouse/6.jpeg' %}" alt="">
<img src="{% static 'warehouse/3.jpeg' %}" alt="">
</body>
</html>